/* --- Central CSS Imports --- */
@import './CartSidebar.css';
@import './Checkout.css';
@import './Base.css';
@import './Navbar.css';
@import './Footer.css';
@import './ProductDetails.css';
@import './Cake.css';
@import './JustinSection.css';
@import './SweetStory.css';
@import './Imagination.css';
@import './StatementCakes.css';
@import './Occasions.css';
@import './Promo.css';
@import './MiniBites.css';
@import './JarFeature.css';
@import './ExploreOtherCakes.css';
@import './Hero.css';

.product-buy-btn {
  color: #fff !important;
} 